<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste coupt-state</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-vue">

        <input type="text" v-model="username" id="username" name="username" placeholder="Username"/>

        <button @click="criarSala()">
            Criar sala
        </button>

        <ul v-show="!isConectadoSala">
            <li v-for="(sala, index) in arrSalas" :key="index">
                <span> <b>{{sala.adminUserName}} - </b> </span>  {{sala.idSala}}
            </li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>

</html>