<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste coupt-state</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-vue">

        <input type="text" v-model="username" id="username" name="username" placeholder="Username"/>

        <button v-show="!isConectadoSala" @click="criarSala()">
            Criar sala
        </button>

        <ul v-show="!isConectadoSala">
            <li v-for="(sala, index) in arrSalas" :key="index">
                <span> <b>{{sala.adminUserName}} - </b> </span>  {{sala.idSala}} <br>
                <button @click="entrarSala(sala.idSala)">Entrar na sala</button>
            </li>
        </ul>

        <div  v-show="isConectadoSala">
            Dentro da sala {{idSalaConectado}}

            <ul>
                <li v-for="(jogador, index) in arrJogadoresSala" :key="index">
                    <span> <b>{{jogador.username}}</b> <br>
                </li>
            </ul>

            <button @click="sairDaSala()">Sair da sala</button>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>